<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <mat-toolbar color="accent">
      <span><a routerLink="/">My Messages</a></span>
      <span class="spacer"></span>
      <ul>
        <li>
          <a mat-button routerLink="/create" routerLinkActive="active-link"
            >New Post</a
          >
        </li>
      </ul>
    </mat-toolbar>
  </body>
</html>
